:root {
  --color-bg: #0c0f0a;
  --color-text-main: #FFFFFF;
  --color-primary: #FFFFFF;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: 'Roboto Mono', serif;
  --font-family-header: 'Roboto Mono';
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
 font-family: 'Roboto Mono', serif;
  background-color: var(--color-bg);
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #ff206e;
 font-family: 'Roboto Mono', serif;
  font-style: 'Thin 100';
  font-size: 100px;
  line-height: 105%;
  margin: 0;
}

/* Instructions */
.instructions {
  margin: 1rem auto 0;
}

/* Button - Add it from the README instructions */
button {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

/* Subheading */
h2 {
  color: #fbff12;
}
p {
  color: #FFFFFF;
}

