:root {
  --color-bg: #0c0f0a;
  --color-text-main: #FFFFFF;
  --color-primary: #FFFFFF;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: 'Inconsolata', monospace;
  --font-family-header: 'Inconsolata';
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}


body {
  font-family: 'Inconsolata', monospace ;
  color: #ffffff;
  background-color: var(--color-bg);
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btns{
  display: none;
}

.title {
  color: #ff206e;
  font-family: 'Inconsolata', monospace;
  font-size: 50px;
  line-height: 105%;
  margin: 0;
}

.tabs{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contentSpace{
  width: 500px;
  height:300px;
  background: #202020;
  border: 1px solid #41ead4;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}
button {
  font-family: inherit;
  font-size: 100%;
  color: #ffffff;
  background: #202020;
  border: 1px solid #41ead4;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

/* Subheading */
h2 {
  color: #fbff12;
}
h3 {
  color: #41ead4;
}
p {
  color: #FFFFFF;
}


